ul {
  padding: 0;
  &.rating li {
    padding: 5px 10px !important;
    background: none;
    color: #ffb400;

    ion-icon {
      font-size: 30px;
    }
  }
}

.item-ios {
  font-size: 1.5rem;
}

.error {
  border: 1px solid #EB2227;
  .text-input {
    color: #EB2227;
  }
  input::-moz-placeholder  {
    color: #EB2227!important;
  }

  input:-moz-placeholder {
    color: #EB2227!important;
  }

  *::-webkit-input-placeholder  {
    color: #EB2227!important;
  }

  *:-ms-input-placeholder  {
    color: #EB2227!important;
  }

  *:-moz-placeholder  {
    color: #EB2227!important;
  }
}
