ul {
  padding: 0;
  &.rating li {
    padding: 5px 10px !important;
    background: none;
    color: #ffb400;

    ion-icon {
      font-size: 30px;
    }
  }
}

.item-ios {
  font-size: 1.5rem;
}

.error {
  border: 0.55px solid #EB2227;
  .text-input {
    color: #EB2227;
  }
  input::-moz-placeholder  {
    color: #EB2227!important;
  }

  input:-moz-placeholder {
    color: #EB2227!important;
  }

  *::-webkit-input-placeholder  {
    color: #EB2227!important;
  }

  *:-ms-input-placeholder  {
    color: #EB2227!important;
  }

  *:-moz-placeholder  {
    color: #EB2227!important;
  }
}

.no-border-rating {
  .item-inner{
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: 0 !important;
  }
}

ion-list-header {
  border-bottom: 0.55px solid #c8c7cc;
}
