page-mt-maps {
  //agm-map {
  //  height: 100%;
  //}

  ion-card.card {
    border-radius: 5px;
  }

  ion-item.item {
    h2 {
      font-size: 1.4rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
}

