.mt-list-item {
  background: #0B1B33;
  color: #fff;
  border: 0 !important;
  &__title {
    font-size: 1.5rem !important;
  }
  .item-inner {
    border: 0 !important;
  }
  &__subtitle {
    font-size: 1.2rem !important;;
    color: #97D2C1 !important;
  }
  &__date {
    color: #2CB897;
  }
}
.white-text {
  color: white;
}
.green-text {
  color: #2CB897;
}
.break-activities {
  margin-left: 52px !important;
}
