<div padding-top padding-bottom *ngIf="events">
  <ion-list>
    <ion-item *ngFor="let event of events"
              class="mt-list-item"
              [ngClass]="{ 'surveyEnable': event.surveyEnable && !event.breakFast }"
              (click)="onItemClick(event)">
      <ion-avatar item-start>
        <img [src]="event.exhibitorImg || onNullImage">
      </ion-avatar>
      <!--<ion-icon name="leaf" item-start></ion-icon>-->
      <h2 *ngIf="event?.breakFast" class="mt-list-item__title break" [ngClass]="{
      'green-text': event.available,
      'disabled': !event.available }">{{ event.eventName | uppercase }}</h2>
      <h2 *ngIf="!event?.breakFast" class="mt-list-item__title" [ngClass]="{
      'break-activities': event.breakFast,
      'disabled': !event.available }">{{ event.eventName }}</h2>
      <ion-note class="mt-list-item__date"
                [ngClass]="{ 'disabled': !event.available }"
                item-end>{{ event.date | date:'h:mm' }} - {{ event.endTime | date:typeDate }}</ion-note>
      <ion-badge *ngIf="getRateByEvent(event.id)">
        {{ getRateByEvent(event.id) }}
        <ion-icon name="star" small></ion-icon>
      </ion-badge>
      <p class="mt-list-item__subtitle"
         [ngClass]="{ 'disabled': !event.available }">{{ event.exhibitorName }}</p>
    </ion-item>
  </ion-list>
</div>
