<div class="card-container">
  <img class="card-container__img"
       *ngIf="currentEvent?.eventImg"
       [src]="currentEvent?.eventImg"/>
  <div class="card">
    <ion-badge *ngIf="!currentEvent?.breakFast && currentEvent?.available">Now Presenting</ion-badge>
    <p class="card__title">{{ currentEvent?.eventName }}</p>
    <p class="card__date" *ngIf="currentEvent?.date && currentEvent?.isVisible">
      <ion-icon style=" margin-right: 0.5rem;" name="calendar"></ion-icon>
      {{ currentEvent?.date | date:'EEEE, MMMM d, y, h:mm' }} -
      {{ currentEvent?.endTime | date:'h:mm a' }}
    </p>
    <p class="card__exhibitor"
       *ngIf="currentEvent?.exhibitorName">
      <ion-icon *ngIf="currentEvent?.isVisible" style="margin-right: 0.5rem;" name="contact"></ion-icon>
      {{ currentEvent?.exhibitorName }}
    </p>
    <button *ngIf="currentEvent?.isVisible" ion-button round small color="light" (click)="onCardClick()">Location</button>
  </div>
</div>
