.card-container {
  position: relative;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  &__img {
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    -webkit-filter: brightness(.7);
    filter: brightness(.7);
  }
  .card {
    text-align: center;
    color: white;
    &__title {
      font-size: 1.4em;
      margin: 0;
    }
    &__date {
      font-size: 0.9em;
      margin: 8px 0;
    }
  }
}
