page-mt-signin {
  .background {
    width: 100%;
    height: 100%;
    //background: linear-gradient(to bottom,  #0B1B33 70%, #2CB897 100%);
    //background: "assets/imgs/bg.png" center center no-repeat;
  }

  .img {
    height: 100px !important;
    width: 100px;
    margin: auto auto 20px;
    border-radius: 50%;
  }

  .scroll-content {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    //padding-bottom: 0 !important;
  }

  ion-card.card {
    box-shadow: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    p {
      padding: 0 1rem;
      font-size: 1.2rem;
    }
  }

  a, p,
  ion-card-header.card-header {
    color: #fff !important;
  }

  .list > .item-block:first-child {
    border: medium none;
  }

  .item-inner {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;;
    box-shadow: none !important;;
  }

  .item {
    margin-bottom: 20px;
    //background: rgba(0, 0, 0, 0.5);
    border: medium none;

    //.text-input {
    //  color: #fff;
    //}
    //
    //input::-moz-placeholder  {
    //  color: #fff!important;
    //}
    //
    //input:-moz-placeholder {
    //  color: #fff!important;
    //}
    //
    //*::-webkit-input-placeholder  {
    //  color: #fff!important;
    //}
    //
    //*:-ms-input-placeholder  {
    //  color: #fff!important;
    //}
    //
    //*:-moz-placeholder  {
    //  color: #fff!important;
    //}
  }

  .error {
    border: 1px solid #EB2227;
    .text-input {
      color: #EB2227;
    }
    input::-moz-placeholder  {
      color: #EB2227!important;
    }

    input:-moz-placeholder {
      color: #EB2227!important;
    }

    *::-webkit-input-placeholder  {
      color: #EB2227!important;
    }

    *:-ms-input-placeholder  {
      color: #EB2227!important;
    }

    *:-moz-placeholder  {
      color: #EB2227!important;
    }
  }

  .icon {
    padding-right: 10px;
  }

  .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
  }
}
