.text-center {
  text-align: center;
}

.no-list-border .item-inner {
  border: 0 !important;
}
.no-border {
  border: 0 !important;
}

.no-bt {
  border-top: 0 !important;
}

.no-p {
  padding: 0;
}

.p1 {
  padding: 0.5rem;
}

.mt-event-page {
  background: #0B1B33;
}

.list-avatar-page {
  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }
}

.header-ios .toolbar-ios:last-child .toolbar-background-ios {
  border-color: transparent;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.toast-container {
  //background: #0B1B33;
  .toast-message {
    //color: #2CB897;
  }
}
